@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nobile&display=swap');

body {

    background-color: #467599;
}

#container {

    margin-bottom: 2vh;
}


.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.heading1 {

    font-family: 'Carter One', cursive;
    font-weight: 100;
    font-size: 2.4em;
    margin-bottom: 1em;

    color: #192d4b;

}

#tabuleiro {

    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 57vh;
    background-color: black;
    
    
    
    
}

#row0 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1/2;
    grid-column: 1/4;
    height: 19vh;
    justify-items: stretch;
    grid-gap: 0.5em;
    


}

#row1 {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2/3;
    grid-column: 1/4;
    height: 19vh;
    justify-items: stretch;
    grid-gap: 0.5em;


}

#row2 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 3/4;
    grid-column: 1/4;
    height: 19vh;
    justify-items: stretch;
    grid-gap: 0.5em;



}


.box {
    
    padding: 1em;
    background-color: #467599;
    
    
    

}

.jogadorTexto {

    font-family:'Nobile', sans-serif;
    font-size: 1.5em;
    color: #1D3354;
}

.botaoVencedor {

    font-size: 0.9em;
    font-family: 'Nobile', sans-serif;
    color: #1D3354;
    padding: 1vh;
    border-radius: 20px;
    background-color: #d7b8f363;
    border: 1px solid #D7B8F3;
}


